@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
body{
    background-color: #ffffff;
    overflow: hidden;
}
nav{
    /* width: 100%; */
    height: 75px;
    /* margin-top: 20px; */
    /* line-height: 50px; */
    padding: 0px 100px;
}
nav .logo a{
    margin: 10px 0px 0px 10rem;
    font-size: 30px;
    font-weight: 900;
    float: left;
    color: #2fbf71;
    letter-spacing: 0.5px;
    cursor: pointer;
}

nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: capitalize;
    padding: 0px 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav li a:hover{
    background-color: #2fbf71;
    color: #ffffff;
    transition: .5s;
}
nav li a:hover{
    color: rgb(255, 255, 255);
    transition: all 0.4s ease 0s;
}
/* .btn {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    background: #000000;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    border: 2px solid #000000;
}
.btn:hover {
    background: transparent;
    color: #000000;
} */


.nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #242020;
    width: 90px;
    overflow: hidden;
    margin-top: 5%;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px #0000001a;
}

.nav ul li a{
    position: relative;
    color: #f0ecec;
    font-size: 18px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fa-solid{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
.nav a:hover{
    background-color: #424242;
    transition: all 0.5s ease;
}
.nav:hover{
    width: 200px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
    color: #2fbf71;
}
.table{
    width: 92%;
}
.table_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(189, 188, 188);
    padding-left: 7%;
}
.table_header p{
    color: #000000;
}
button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
}
td button:nth-child(1){
    background-color:#2fbf71;
    padding: 10px;
}
td button:nth-child(2){
    background-color: #f80000;
    padding: 10px;
}
.search{
    padding: 10px;
    color: #ffffff;
    background-color: #2fbf71;
}
input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #2fbf71;
    border-radius: 6px;
    color:#0d0d0e;
}
::placeholder{
    color: #0c0c0c;
}
.table_section{
    padding-left: 7%;
    height: 650px;
    overflow: auto;
}

table{
    width: 100%;
    table-layout: fixed;
    min-width: 900px;
}
thead th{
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

th,td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}
td img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #ced0d2;
}
td{
    height: 70px;
    width:70px;
}
tr:hover td{
    color:#0298cf;
    cursor: pointer;
    background-color: #f6f9fc;

}
::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}